*{
    margin: 0;
    padding: 0;
    & ::after, ::before{
        box-sizing: border-box;
    }
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: var(--color-Grayish-Blue);
    background-color: var(--color-Light-Gray);
}

ul, li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-Dark-Blue);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

header{
    padding-top: 5.75rem;
}

h1, h2{
    font-size: 1.5em;
}

main{
    padding: 0 2rem;
    max-width: 69.375rem;
    margin: auto;
}

.heading--light{
    font-weight: 200;
}

p{
    font-size: .93em;
    max-width: 54ch;
    margin: var(--main-margin) auto;
}

ul{
    margin-top: 5rem;
}

li{
    // max-width: 22rem;
    max-width: 20rem;
    margin: auto;
    margin-bottom: 1.5rem;
}

footer{
    margin: auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
    color: var(--color-cyan);
  }
}