.card {
  
  background-size: 100% 200%;
  background-position-y: -7.9rem;

  transition: background-position-y 250ms ease;

  h3 {
    transition: color 250ms ease;
  }
}

.card:hover,
.card:focus {

  background-position-y: -4rem;
  h3 {
    color: var(--color-light);
  }
 
}
