.card {
  h3 {
    transition: color 250ms ease;
  }
}

.card--flair-cyan:hover,
.card--flair-cyan:focus {
  h3 {
    color: var(--color-light);
  }
  background-image: linear-gradient(
    var(--color-cyan) 30%,
    var(--color-light) 30%
  );
}

.card--flair-orange:hover,
.card--flair-orange:focus {
  h3 {
    color: var(--color-light);
  }
  background-image: linear-gradient(
    var(--color-orange) 30%,
    var(--color-light) 30%
  );
}

.card--flair-red:hover,
.card--flair-red:focus {
  h3 {
    color: var(--color-light);
  }
  background-image: linear-gradient(
    var(--color-red) 30%,
    var(--color-light) 30%
  );
}

.card--flair-blue:hover,
.card--flair-blue:focus {
  h3 {
    color: var(--color-light);
  }
  background-image: linear-gradient(
    var(--color-blue) 30%,
    var(--color-light) 30%
  );
}
