:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-Dark-Blue: hsl(234, 12%, 34%);
  --color-Grayish-Blue: hsl(229, 6%, 66%);
  --color-Light-Gray: hsl(0, 0%, 98%);
  --color-light: hsl(0, 0%, 100%);
  --main-margin: 1em;
}

* {
  margin: 0;
  padding: 0;
}

* ::after, * ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: var(--color-Grayish-Blue);
  background-color: var(--color-Light-Gray);
}

ul, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-Dark-Blue);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header {
  padding-top: 5.75rem;
}

h1, h2 {
  font-size: 1.5em;
}

main {
  padding: 0 2rem;
  max-width: 69.375rem;
  margin: auto;
}

.heading--light {
  font-weight: 200;
}

p {
  font-size: .93em;
  max-width: 54ch;
  margin: var(--main-margin) auto;
}

ul {
  margin-top: 5rem;
}

li {
  max-width: 20rem;
  margin: auto;
  margin-bottom: 1.5rem;
}

footer {
  margin: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--color-cyan);
}

.card {
  text-align: left;
  padding: 1.87rem;
  border-radius: .5rem;
  background-color: var(--color-light);
  -webkit-box-shadow: 0 1rem 1.8rem -.5rem lightgray;
          box-shadow: 0 1rem 1.8rem -.5rem lightgray;
}

.card p {
  font-size: .76rem;
}

.card img {
  width: 3.6rem;
  margin: 1.5rem 0 auto auto;
}

.card--flair-cyan {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, var(--color-cyan)), color-stop(30%, var(--color-light)));
  background-image: linear-gradient(var(--color-cyan) 30%, var(--color-light) 30%);
}

.card--flair-red {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, var(--color-red)), color-stop(30%, var(--color-light)));
  background-image: linear-gradient(var(--color-red) 30%, var(--color-light) 30%);
}

.card--flair-orange {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, var(--color-orange)), color-stop(30%, var(--color-light)));
  background-image: linear-gradient(var(--color-orange) 30%, var(--color-light) 30%);
}

.card--flair-blue {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, var(--color-blue)), color-stop(30%, var(--color-light)));
  background-image: linear-gradient(var(--color-blue) 30%, var(--color-light) 30%);
}

.card {
  background-size: 100% 200%;
  background-position-y: -7.9rem;
  -webkit-transition: background-position-y 250ms ease;
  transition: background-position-y 250ms ease;
}

.card h3 {
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease;
}

.card:hover,
.card:focus {
  background-position-y: -4rem;
}

.card:hover h3,
.card:focus h3 {
  color: var(--color-light);
}

@media (min-width: 790px) {
  h1, h2 {
    font-size: 2.2rem;
  }
  .ul-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    max-width: 49.375rem;
    margin-left: auto;
  }
  .ul-grid :nth-child(1), .ul-grid :nth-child(2) {
    place-self: start;
  }
  .ul-grid :nth-child(3), .ul-grid :nth-child(4) {
    place-self: end;
  }
  li {
    margin-left: initial;
    margin-right: initial;
  }
}

@media (min-width: 1000px) {
  .ul-grid {
    max-width: 100%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
  }
  .ul-grid li {
    place-self: center !important;
  }
  .li--grid-position1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: 2 / 1 / 4 / 1;
  }
  .li--grid-position2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: 1 / 2 / 3 / 2;
  }
  .li--grid-position3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: 3 / 2 / 6 / 2;
  }
  .li--grid-position4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: 2 / 3 / 4 / 3;
  }
}
/*# sourceMappingURL=styles.css.map */